.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
  border-radius: 0.7rem;
  padding: 1rem 1rem 1.5rem 1rem;
  width: 20rem;
}

.cardImg {
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 0.4rem;
  width: 100%;
  height: 11rem;
}

.cardDetail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 1.1rem 0.2rem;
  gap: 0.8rem;
}

.cardTitle {
  font-size: 1.1rem;
}

.cardSubtitle {
  font-size: .95rem;
  font-weight: 100;
  color: var(--grey);
}

.cardPrice {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.cardButton {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--grey);
  border: none;
  border-radius: 0.35rem;
  color: var(--white);
}

.cardButton:hover {
  background-color: var(--black);
}
