:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  text-align: center;
  background-color: var(--bg);
  user-select: none;
}

* {
  font-family: "Fira Sans", "Montserrat", "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  --white: #fff;
  --bg: #fcfcfc;
  --border: #dcdcdc;
  --lightgrey: #dbdbdb;
  --grey: #252525;
  --darkgrey: #141414;
  --black: #000;
  --xd: #f57017;
}

body,
html,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  margin: 0;
  padding: 0;
}
