.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.title span {
  font-size: 1.8rem;
  margin-right: 0.4rem;
}

/* item */
.item {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0.8rem;
  border-radius: 0.35rem;
  border: 1px solid var(--border);
  transition: background 0.12s ease;
  background: var(--white);
}

.wineImage {
  width: 4rem;
  height: 5rem;
  border-radius: 0.35rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

.infoContainer {
  display: flex;
  flex-direction: row;
}

/* texto */
.info {
  display: flex;
  flex-direction: column;
  width: 8rem;
  margin-right: 1rem;
}

.name {
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.3rem;
}

.price {
  font-size: 0.85rem;
}

/* acciones (derecha) */
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* botones */
.addBtn {
  border: none;
  padding: 0.42rem 0.7rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  white-space: nowrap;
}
.addBtn:hover {
  background: var(--grey);
  color: var(--white);
}

.deleteBtn {
  background: transparent;
  color: var(--lightgrey);
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.deleteBtn:hover,
.deleteBtn:focus,
.deleteBtn:active {
  font-variation-settings: "FILL" 1;
  color: var(--grey);
}

/* ver más */
.viewMore {
  margin-top: 0.75rem;
  background: transparent;
  color: #9db6cf;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  display: block;
}

/* responsive */
@media (max-width: 480px) {
  .favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem 4.5rem;
    gap: 1rem;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin: 0;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  .title span {
    font-size: 2rem;
    margin-right: 0.4rem;
  }

  /* item */
  .item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0.8rem;
    border-radius: 0.35rem;
    border: 1px solid var(--border);
    transition: background 0.12s ease;
    background: var(--white);
    width: 90%;
  }

  .wineImage {
    width: 4rem;
    height: 5rem;
    border-radius: 0.35rem;
    flex-shrink: 0;
    margin-right: 1rem;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
  }

  /* texto */
  .info {
    display: flex;
    flex-direction: column;
    width: 8rem;
    margin-right: 1rem;
  }

  .name {
    font-size: 0.95rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.3rem;
  }

  .price {
    font-size: 0.85rem;
    padding-bottom: 0.3rem;
  }

  /* acciones (derecha) */
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  /* botones */
  .addBtn {
    border: none;
    padding: 0.42rem 0.7rem;
    border-radius: 6px;
    font-size: 0.85rem;
    cursor: pointer;
    white-space: nowrap;
  }
  .addBtn:hover {
    background: var(--grey);
    color: var(--white);
  }

  .deleteBtn {
    background: transparent;
    color: var(--lightgrey);
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .deleteBtn:hover,
  .deleteBtn:focus,
  .deleteBtn:active {
    font-variation-settings: "FILL" 1;
    color: var(--grey);
  }

  /* ver más */
  .viewMore {
    margin-top: 0.75rem;
    background: transparent;
    color: #9db6cf;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
    display: block;
  }
}
