.explore {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  padding: 4rem 5rem 18rem;
}

.exploreTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.exploreNav {
  width: 100%;
}

.form {
  flex: 1;
}

.exploreSearchForm {
  display: flex;
  align-items: center;
  border: 1px solid var(--lightgrey);
  border-radius: 0.3rem;
  width: 20rem;
}

.exploreSearchForm:focus-within {
  border: 1px solid var(--darkgrey);
}

.exploreSearchForm input {
  padding: 0.45rem 1rem;
  border-radius: 0.9rem 0 0 0.9rem;
  border: none;
  outline: none;
  font-size: 1rem;
  height: 2rem;
  border: 10px;
 width: 20rem;
}

.exploreSearchForm button {
  padding: 0 0.7rem 0 0.3rem;
  border-radius: 0 0.9rem 0.9rem 0;
  border: none;
  background: var(--white);
  color: var(--lightgrey);
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.exploreSearchForm button:hover {
  color: var(--darkgrey);
}

.searchClearBtn {
  background: transparent;
  border: none;
  color: var(--lightgrey);
  font-size: 2rem;
  cursor: pointer;
  margin-left: -2.2rem;
  z-index: 2;
  outline: none;
  position: relative;
}

.searchClearBtn:hover {
  color: var(--darkgrey);
}

.exploreSearchbar button {
  padding: 0 0.7rem 0 0.3rem;
  border-radius: 0 0.9rem 0.9rem 0;
  border: none;
  background: var(--white);
  color: var(--lightgrey);
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.9rem;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 2rem 0;
}

.category a {
  font-size: 1rem;
  color: black;
  padding: 0.5rem 0.8rem;
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
  border-radius: 1.1rem;
}

.category a:hover{
background-color:var(--border);
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;

}

.filter {
  flex: 1;

}

.filter select {
  padding: 0.5rem;
  border: 1px solid var(--lightgrey);
  border-radius: 0.3rem;
  width: 100%;
      cursor: pointer;
}

